<h1>Listing fb_pages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fb_pages.each do |fb_page| %>
  <tr>
    <td><%= fb_page.name %></td>
    <td><%= link_to 'Show', fb_page %></td>
    <td><%= link_to 'Edit', edit_fb_page_path(fb_page) %></td>
    <td><%= link_to 'Destroy', fb_page, :confirm => 'Are you sure?', :method => :delete %></td>
    <td> <%= link_to 'Get access token', fb_oauth_url %> </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fb page', new_fb_page_path %>
